{
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",

  "tabWidth": 2,
  "useTabs": false,

  "proseWrap": "always",
  "printWidth": 80,

  "editor.formatOnSave": true,
  "endOfLine": "crlf"
}
